.serves_left {
	position: fixed;/* 是以window最外层容器计算 */
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
	float: left;
	margin-top: 60px;
	background: #F8F8F8;
	border: none;
}

#serves_left_ul{
	width: 100%;
	margin: 10px auto;
	padding: 0;
	background: #F8F8F8;
	border: none;
}

#serves_left_ul li {
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	background: #F8F8F8;
	color: #656565;
	border-left: 3px solid #F8F8F8;
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #E0E0E0;
}

#serves_left_ul li:last-child {
	border-bottom: 1px solid #E0E0E0;
}

a{
	color: #656565;
	text-decoration: none;
}

#serves_left_ul .active {
	background-color: #FFFFFF;
	border-left: 3px solid #1DA8AE;
	border-right: none;
	color: #000000;
}

.serves_right {
	width: 75%;
	float: left;
	margin-top: 60px;
	margin-left: 25%;
	background: #FFFFFF;
}

.serve{
	width: 100%;
	margin:15px auto;
}
.target-fix {
    position: relative;
    top: -60px; /* 偏移值*/
    display: block;
    height: 0;
    overflow: hidden;
}

.serve_title{
	width: 90%;
	height: 20px;
	color: #656565;
	font-size: 14px;
	margin-left: 10%;
}
.serve_tab{
	width: 90%;
	height: 90px;
	color: #656565;
	font-size: 14px;
	margin-left: 10%;
	border-top:1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
}

.serve_img{
	width: 20%;
	display: block;
	float: left;
}
.serve_img img{
	width: 40px;
	height: 40px;
	display: block;
	margin-top: 25px;
}

.serve_text{
	width: 80%;
	display: block;
	float: left;
}
.serve_text p:first-child{
	color: #000000;
	font-size: 20px;
	font-weight: 600;
	margin-top: 18px;
}
.serve_text p:last-child{
	color: #666;
	font-size: 14px;
	margin-top: 5px;
}

