body{
	background: #f5f5f5;
}
/*主题盒子*/
.layout{
	width: 100%;
	max-width: 640px;/*设计图的原因 不让它放大*/
	min-width: 300px;/*为了更好的布局*/
	margin: 0 auto;
	position: relative;
}

/* 头部搜索 */
.header{
	position: fixed;/* 是以window最外层容器计算 */
	left: 0;
	top: 0;
	height: 40px;
	width: 100%;
	z-index: 1000;
}

.header > .header_box{
	width: 100%;
	max-width: 640px;/*设计图的原因 不让它放大*/
	min-width: 300px;/*为了更好的布局*/
	margin: 0 auto;
	background-color: rgba(255,255,255,0);
	height: 40px;
	position: relative;
}

.location{
	position: absolute;
	width: 100px;
	height: 40px;
	left: 10px;
}

.city{
	position: absolute;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	left: 30px;
	top: 0px;
	font-size: 18px;
	color: #FFFFFF;
}

.location img{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 10px;
	left: 0px;
}

.appname{
	position: absolute;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color:#333333;
	font-family: "微软雅黑";
	font-size: 18px;
}


/*轮播图*/
.banner{
	width: 100%;
	position: relative;
	overflow: hidden;
}

/*选择第一个ul*/
.banner > ul:first-child{
	width: 500%;/*5张图片一共占多少*/
	-webkit-transform:translateX(-20%);/*尽可能做css3的webkit的内核兼容*/
	transform: translateX(-20%);
}

.banner >  ul:first-child > li{
	width: 20%;
	float: left;
}

.banner >  ul:first-child > li > a{
	width:100%;
	display: block;
}

.banner >  ul:first-child > li > a > img{
	width:100%;
	/*
	去除文本基线
	父容器的font-size设为0
	display: block;
	vertival-align:middle;
	*/
	display: block;
}

/*选中第二个ul*/
.banner > ul:last-child{
	width: 38px;
	height: 6px;
	position: absolute;
	bottom: 6px;
	left: 50%;
	margin-left: -19px;
}

.banner > ul:last-child > li{
	width: 6px;
	height: 6px;
	float: left;
	border-radius: 3px;
	border: 1px solid #fff;
	margin-left: 10px;
}

.banner > ul:last-child > li.now{
	background: #fff;
}

.banner > ul:last-child > li:nth-child(1){
	margin-left: 0;
}

/*导航栏模块*/
.nav{
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
}

.nav > ul {
	width: 100%;
	padding: 10px 0;
}

.nav > ul > li{
	width: 25%;
	float: left;
}

.nav > ul  > li > a{
	display: block;
}

.nav > ul  > li > a > img{
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
}

.nav > ul  > li > a > p{
	text-align:center;
	color: #666;
	font-size: 12px;
	padding: 6px 0;
}

/* 产品主盒子 */
.product{
	padding: 0 5px;
}

.product > .product_box{
	width: 100%;
	background: #fff;
	margin-top: 10px;
	box-shadow: 0 0 1px #e0e0e0;
}

.product > .product_box > .product_box_tit{
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #e0e0e0;
}

.product > .product_box > .product_box_tit.no_border{
	border-bottom: none;
}

.product > .product_box > .product_box_tit > h3{
	font-weight: normal;
	font-size: 15px;
	padding-left: 20px;
	position: relative;
	color: #666;
}

.product > .product_box > .product_box_tit > h3::before{
	/* 使用伪类要转块，三种方式
	display: block;position: absolute; float:left; */
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	width: 3px;
	height: 12px;
	background: #d8505c;
}

/* 掌上秒杀 */
.sk{

}

.sk .sk_icon{
	background: url("../images/seckill-icon.png") no-repeat;
	background-size: 16px 20px;
	width: 16px;
	height: 20px;
	float: left;
	margin-top: 6px;
}
.sk .sk_name{
	color: #d8505c;
	font-size: 15px;
	float: left;
}
.sk .sk_time{
	float: left;
	margin-top: 8px;
}
.sk .sk_time > span{
	float: left;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	background: #333;
	color: #fff;
	margin-left: 3px;
}

/*第三个和第六个span*/
.sk .sk_time > span:nth-child(3n){
	background: #fff;
	color: #333;
	width: 5px;
}
.sk .product_box_con > ul{
	width: 100%;
	font-size: 12px;
	padding: 10px 0;
}
.sk .product_box_con > ul > li{
	width: 33.333%;
	float: left;
	text-align: center;
}
.sk .product_box_con > ul > li > a{
	display: block;
	width: 100%;
	border-right: 1px solid #e0e0e0;
}
.sk .product_box_con > ul > li:last-child > a{
	border: none;
}
.sk .product_box_con > ul > li > a > img{
	width: 64%;
	display: block;
	margin: 0 auto;
}
/* 
E:first-of-type选择同类型的同级的 第一个元素
E:last-of-type选择同类型的同级的 最后一个元素
E:nth-of-type(n)选择同类型的同级的 第n个元素
*/
.sk .product_box_con > ul > li > p:first-of-type{
	color: #d8505c;
	padding-top: 5px;
}
.sk .product_box_con > ul > li > p:last-of-type{
	color: #666;
}

/* 组合样式 */
.w_50{
	width: 50%;
	display: block;
}
.w_50 > img{
	display: block;
	width: 100%;
}
.w_50 > div{
	padding: 10px 0;
}

.w_30{
	width: 50%;
	display: block;
	padding: 12.5px 0;
}
.w_30 > div{
	width: 60%;
	float: left;
	padding-top: 10px;
}
.w_30 > img{
	width: 30%;
}

.b_left{
	border-left: 1px solid #e0e0e0;
}
.b_right{
	border-right: 1px solid #e0e0e0;
}
.b_bottom{
	border-bottom: 1px solid #e0e0e0;
}

.c1{
	color: #00BEAF;
	text-align: center;
	font-size: 16px;
}
.c2{
	color: #6CD01B;
	text-align: left;
	font-size: 16px;
	padding-left: 10px;
}
.c3{
	color: #FF8838;
	text-align: left;
	font-size: 16px;
	padding-left: 10px;
}
.c4{
	color: #999999;
	text-align: left;
	font-size: 14px;
	padding-left: 10px;
}
.t_center{
	text-align: center;
	padding: 0;
}


#footer{
	width: 100%;
	height: 80px;
	background:#FFFFFF;
	border-top: 1px solid #e0e0e0;
	position: fixed;/* 是以window最外层容器计算 */
	left: 0;
	bottom: 0;
	z-index: 1000;
}

.tab{
	width: 25%;
	height: 100%;
	padding: 10px 0;
	float: left;
}
.index_icon{
	width: 40px;
	height: 40px;
	margin: 0 auto;
	display: block;
}
.tab p{
	width: 100%;
	height: 16px;
	line-height: 16px;
	margin-top: 4px;
	text-align: center;
	font-size: 14px;
	color: #333333;
}

