.call{
	position: absolute;
	display: block;
	top: 20px;
	right: 15px;
}

.call img{
	width: 20px;
	height: 20px;
}

#suggest_sec{
	width: 100%;
	margin-top: 70px;
}

#suggest_sec p{
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin: 5px auto;
	color: #808080;
	font-size: 12px;
	text-align: center;
}

.suggest_txt{
	width: 90%;
	height: 150px;
	margin-left: 5%;
	font-size: 16px;
	color: #666666;
}


#suggestbtn{
	width: 90%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	font-family: "微软雅黑";
	background: #00BEAE;
	border-radius: 5px;
	margin: 10px auto;
	display: block;
}
